html, body {
  padding: 0; }

body {
  font-family: sans-serif;
  background: #222;
  color: #222020;
  margin: auto 0;
  overflow: auto; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0.3em; }

h1, h2, h3 {
  color: #222; }

p {
  font-size: 14pt; }

code, pre {
  font-size: 12pt;
  font-family: monospace; }

a {
  color: #3311ff;
  text-decoration: none;
  border-bottom: solid 1px #00000000;
  transition: border-color 0.25s ease-in-out; }
  a:hover {
    border-bottom: solid 1px;
    color: #000099; }
  a:active {
    color: #4422ff; }

li {
  font-size: 16pt; }

hr {
  background: #331100;
  border: solid #331100 2pt;
  border-radius: 5pt; }

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none; }
  .navigation .left {
    border-radius: 2pt 0pt 0pt 2pt; }
  .navigation .right {
    border-radius: 0pt 2pt 2pt 0pt; }

.navigation a {
  margin-top: 8pt;
  padding: 4pt 8pt 4pt 8pt;
  display: block;
  text-decoration: none;
  color: darkorange;
  background: #222;
  font-size: 18pt; }
  @media screen and (max-width: 768px) {
    .navigation a {
      font-size: 16pt; } }
  .navigation a:hover {
    color: gold;
    background: #2f2f2f;
    box-shadow: inset 0 0 1pt white; }
  .navigation a:active {
    box-shadow: inset 0 0 2pt black;
    color: #222;
    background: darkorange;
    text-decoration: none; }

footer {
  margin: 0 auto;
  padding: 2em;
  padding-bottom: 1em; }
  footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  footer li {
    list-style: none;
    font-size: 12pt; }
  footer a {
    display: block;
    color: gray;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: none 0px #00000000;
    transition: color 0.25s ease-in-out; }
    footer a:hover {
      color: lightgray;
      border-bottom: none 0px #00000000; }
    footer a:active {
      color: white;
      border-bottom: none 0px #00000000; }

img {
  max-width: 100%;
  border-radius: 5pt; }

.page {
  width: 100%;
  max-width: 600pt;
  margin: 0 auto;
  background: #dddddd;
  box-shadow: 0 0 0.2em black;
  overflow: auto;
  border-radius: 5pt;
  margin-top: 2em; }
  @media screen and (max-width: 768px) {
    .page {
      border-radius: 0pt;
      margin-top: 0pt; } }

.heading {
  padding: 1em;
  text-align: center;
  border-bottom: 2pt solid black; }

.content {
  padding: 1em;
  background: #dddddd;
  max-width: 600pt;
  margin: 0 auto; }

.page_title {
  color: black;
  text-align: center;
  margin-bottom: 0pt;
  font-size: 24pt;
  word-wrap: break-word; }

.gravatar img {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0.5em black;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1); }
  .gravatar img:hover {
    transform: rotateZ(180deg); }
.gravatar:hover {
  border-bottom: solid 0px rgba(0, 0, 0, 0); }

.highlight {
  border-radius: 5pt;
  overflow: auto;
  color: #fbf1c7;
  background-color: #282828; }
  .highlight table {
    padding: 5px; }
    .highlight table td {
      padding: 5px; }
    .highlight table pre {
      margin: 0; }
  .highlight .w {
    color: #fbf1c7;
    background-color: #282828; }
  .highlight .err {
    color: #fb4934;
    background-color: #282828;
    font-weight: bold; }
  .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #928374;
    font-style: italic; }
  .highlight .cp {
    color: #8ec07c; }
  .highlight .nt {
    color: #fb4934; }
  .highlight .o, .highlight .ow, .highlight .p, .highlight .pi {
    color: #fbf1c7; }
  .highlight .gi {
    color: #b8bb26;
    background-color: #282828; }
  .highlight .gd {
    color: #fb4934;
    background-color: #282828; }
  .highlight .gh {
    color: #b8bb26;
    font-weight: bold; }
  .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: #fb4934; }
  .highlight .kc {
    color: #d3869b; }
  .highlight .kt {
    color: #fabd2f; }
  .highlight .kd {
    color: #fe8019; }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .si, .highlight .sr {
    color: #b8bb26;
    font-style: italic; }
  .highlight .se {
    color: #fe8019; }
  .highlight .nn, .highlight .nc {
    color: #8ec07c; }
  .highlight .no {
    color: #d3869b; }
  .highlight .na {
    color: #b8bb26; }
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color: #d3869b; }
  .highlight .ss {
    color: #83a598; }
