#!/usr/bin/env ruby

# RSS Feed
compile '/blog/feed.slim' do
  filter :slim
  write '/blog/feed.xml'
end

# Sitemap
compile '/sitemap.slim' do
  filter :slim
  write '/sitemap.xml'
end

compile '/**/*.slim' do
  line_numbers = item.attributes[:highlight_line_numbers] == true

  filter :slim
  filter :colorize_syntax, default_colorizer: :rouge, rouge: { legacy: true, inline_theme: "gruvbox.dark", line_numbers: line_numbers, css_class: "highlight" }
  layout '/default.*'

  item.identifier.without_ext + '/index.html'
end

compile '/**/*.{md,markdown}' do
  line_numbers = item.attributes[:highlight_line_numbers] == true

  filter :kramdown
  filter :colorize_syntax, default_colorizer: :rouge, rouge: { legacy: true, inline_theme: "gruvbox.dark", line_numbers: line_numbers, css_class: "highlight" }
  layout '/default.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.sass' do
  filter :dart_sass

  write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

route '/**/*.{slim,html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :slim