---
layout: default
title: Projects
---

<ul>
  <li><a href="/projects/cyberarm_engine">CyberarmEngine</a> - Game Engine built on top of <a href="https://libgosu.org">Gosu</a></li>
  <li><a href="/projects/author_engine_v2">AuthorEngineV2</a> - Virtual* console for making games</li>
  <li><a href="/projects/untitled_short_film">Untitled Short Film</a> - Short film created using <a href="https://libgosu.org">Gosu</a></li>
</ul>