<div class="heading">
  <a href="/"><img src="https://secure.gravatar.com/avatar/daa730763505dfaf9db348e5e78fbe1f?size=100" class="gravatar" /></a>
  <h1>Hi. I'm Cyberarm.</h1>
  <p>Making games and other things with <a href="https://ruby-lang.org">Ruby</a> and <a href="https://libgosu.org">Gosu</a>.</p>

  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>