---
title: Privacy Policy — Android Renegade Server List
---

h1 Android Renegade Server List
h2 Privacy Policy
p No data is collected or stored except for user defined settings which stay on device.
p Your IP address will be visible to the operator(s) of the W3D Hub Game Server Hub Service.